[Unit]
Description=Syncbyte Agent Server
After=network.target

[Service]
ExecStart=/usr/local/bin/syncbyte-agent -c /etc/syncbyte/agent.yaml run
ExecStop=/bin/kill -s HUP $MAINPID
Restart=always
KillMode=process

[Install]
WantedBy=multi-user.target
